.system-health-container {
    display: flex;
    width: 95%;
    height: 100%;
}

.system-health-container .system-health {
    padding: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.system-health-container .system-health .open-tunnels {
    overflow-y: scroll;
    border: 1px solid var(--color-accent-40);
    border-radius: 5px;
    padding: 12px;
    margin-left: 12px;
}

.system-health-container .system-health .open-tunnels .control-panel {
    margin-bottom: 36px;
}

.system-health-container .system-health .open-tunnels .open-tunnels-list {
    width: 100%;
}

.system-health-container .system-health .open-tunnels .control-panel button {
    margin-right: 12px;
}

.system-health-container
    .system-health
    .open-tunnels
    .open-tunnels-list
    .open-tunnel-card {
    padding: 6px 0;
    line-height: 1.2;
    background-color: var(--color-background-secondary-80);
    border-radius: 2px;
    margin-bottom: 10px;
}

.system-health-container
    .system-health
    .open-tunnels
    .open-tunnels-list
    .open-tunnel-card
    span {
    margin: 0 4px;
    font-size: 14px;
}

.system-health-container
    .system-health
    .open-tunnels
    .open-tunnels-list
    .open-tunnel-card
    span.pid {
    color: var(--color-accent);
}
