.host-settings-details-container {
    width: 95%;
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.host-settings-details-container .host-settings-details {
    padding: 15% 24px 24px 24px;
}

.host-settings-details {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.host-settings-details div.input {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.host-settings-details div.input label {
    margin-right: 5px;
    font-size: 12px;
    line-height: 22px;
}

.host-settings-details div.input input {
    display: flex;
    margin-bottom: 6px;
    width: 70%;
}

.host-settings-details button {
    margin-right: 16px;
}

.host-settings-details .control-panel {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.host-settings-details .control-panel .info-message {
    margin-left: 6px;
    font-size: 12px;
    color: var(--color-text-secondary);
    justify-content: center;
    align-content: center;
}
