.nav-panel-container {
    display: flex;
    margin: 10px 0 10px 10px;
    width: 5%;
}

.nav-panel {
    width: 100%;
    background-color: var(--color-background-secondary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav-panel .nav-item {
    cursor: pointer;
    align-self: center;
    padding: 10px 0 5px 0;
    font-size: 18px;
    color: var(--color-text);
    opacity: 0.6;
    border-bottom: 1px solid var(--color-accent);
}

.nav-panel .nav-item:hover {
    opacity: 1;
}

.nav-panel .nav-item.selected {
    opacity: 1;
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
}

.nav-item.bottom {
    border-bottom: none;
    color: var(--color-accent);
    opacity: 1;
    cursor: default;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: center;
}

.nav-item.bottom .sync-progress {
    animation: blink 2s infinite;
    margin-bottom: 10px;
}

.nav-item.bottom .version {
    color: var(--color-accent-60);
    font-size: 12px;
    margin-bottom: 5px;
}